/*

Vendor-specific prefixes that I care about...

-webkit-
 -khtml-
   -moz-
     -o-
        
        
*/

body {
    font-size: 14px;
}

/* Custom projects page needs some extra love */
.project-page-row {
    margin: 16px 0;
}
.project-page-row img {
    border-radius: 8px;
}

/* Blog post styles */
.blog_post article {
    margin: 0 0 16px;
}
