Babel==1.3
GitPython==0.3.2.1
Jinja2==2.8
Markdown==2.5.2
MarkupSafe==0.23
Pillow==2.2.1
Pygments==2.0.2
Sphinx==1.2.2
Unidecode==0.04.18
beautifulsoup4==4.3.2
blinker==1.4
bumpr==0.2.0
cssmin==0.2.0
cssutils==1.0
docutils==0.12
feedgenerator==1.7
ghp-import==0.4.1
gitdb==0.6.0
lesscss==0.1.4
lxml==3.3.5
mock==1.0.1
pelican==3.6.3
pretty==0.1
python-dateutil==2.4.2
pytz==2015.6
six==1.9.0
smartypants==1.8.3
smmap==0.8.3
snowballstemmer==1.2.0
sphinx-rtd-theme==0.1.6
typogrify==2.0.4
webassets==0.9
wsgiref==0.1.2
yuicompressor==2.4.8
