{% extends "index.html" %}

{% block content %}

{% import 'includes/glass-card.html' as card %}

<section class="homepage">

    <p>
        Hi!  I'm Michael Clayton, a senior software engineer at 
        <a href="https://redhat.com">Red Hat</a>,
        co-founder of <a href="http://scripta.co">Scripta Games</a>, creative coding enthusiast, and <del>soon-to-be</del> dad.
        Here you'll find games, art, tools, and demos created, events I've helped organize, and blog posts about software and the web.
    </p>

    <p>
        Let the geekery begin.
    </p>

    {#
    <h2>Top posts</h2>

    <div class="pinned-grid">
        {% for article in (articles_page.object_list if articles_page else articles) %}
            {% if article.pin %}
                {{ card.write(
                    title = article.title,
                    href = article.url,
                    background = article.image,
                    background_align = article.cardbgalign,
                ) }}
            {% endif %}
        {% endfor %}
    </div>

    <h2>Recent blog posts</h2>
    #}

    <div class="latest-grid pbp-fullwidth">
        {# {% for article in (articles_page.object_list if articles_page else articles) %} {% endfor %} #}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            {% if loop.index <= 6 %}
                {{ card.write(
                    title = article.title,
                    href = article.url,
                    background = article.image,
                    background_align = article.cardbgalign,
                ) }}
            {% endif %}
        {% endfor %}
    </div>

    {#
    <section class="pbp-homepage">
    {% include "articles.html" ignore missing with context %}
    </section>
    #}

</section>

{% endblock content %}
