{% extends "index.html" %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <a class="clayto-home-col-link" href="/posts" title="my blog posts">
                <div class="clayto-home-col clayto-home-col-code">
                    <h2>
                        Posts
                        <small>Thoughts on code & color.</small>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-4">
            <a class="clayto-home-col-link" href="/projects" title="my programming projects">
                <div class="clayto-home-col clayto-home-col-projects">
                    <h2>
                        Projects
                        <small>Code you can use.</small>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-4">
            <a class="clayto-home-col-link" href="http://clayto.com/" title="my photographs">
                <div class="clayto-home-col clayto-home-col-photos">
                    <h2>
                        Photographs
                        <small>Enthusiast photographs at clayto.com</small>
                    </h2>
                </div>
            </a>
        </div>
    </div>

{% endblock content %}
