{% extends "index.html" %}

{% block content %}

<section class="pbp-homepage">

    {% set sorted_tags = tags|sort_by_article_count %}

    {% set latest_article = articles|first %}
    {% set latest_project = [ 'Kimotion', '/projects/kimotion' ] %}


    <p>
        Hi Web, I'm glad everyone could make it!  Welcome to {{ SITENAME }},
        where <a href="https://twitter.com/mwcz">I</a> write about the
        <a href="/tag/{{ sorted_tags[0][0] }}">#{{ sorted_tags[0][0] }}</a>,
        <a href="/tag/{{ sorted_tags[1][0] }}">#{{ sorted_tags[1][0] }}</a>, and
        <a href="/tag/{{ sorted_tags[2][0] }}">#{{ sorted_tags[2][0] }}</a>.
    </p>

    <p>
        You can also view my <a href="/projects" title="my programming projects">projects</a>
        and <a href="/posts" title="my blog posts">blog posts</a>.
    </p>

    <p>
        <img class="homepage-silhouette" src="/static/images/home/dimo-2014-silhouette.png" alt="kinect depth map silhouette" />

        My most recent project is an interactive art framework called 
        <a title="my latest project, {{ latest_project[0] }}" href="{{ latest_project[1] }}">{{ latest_project[0] }}</a>.
        My latest blog post, <a href="{{ latest_article.url }}">{{ latest_article.title }}</a>, is also about the framework, but you
        can totally skip it.
    </p>


</section>

{% endblock content %}
