<div class="row">

{% comment %}

Contract: a variable named list_photos_thumbnails_max_length must be assigned
before this template is included.  It defines how many thumbnails to show.

Example code:

    {% assign list_photos_thumbnails_max_length = 2 %}

{% endcomment %}

{% for post in site.posts %}
    {% if post.categories contains 'photos' %}
    {% if forloop.index <= list_photos_thumbnails_max_length %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="{{ post.url }}" alt="{{ post.title }}">
                <img src="/static/images/photos/{{ post.img }}" class="img-responsive" alt="">
            </a>
            <div class="caption">
                <a href="{{ post.url }}" alt="{{ post.title }}">
                    <h3>{{ post.title }}</h3>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
{% endfor %}
</div>
