<h3>Projects</h3>

<!-- clayto.com -->
<!-- mwcz.org -->
<!-- AEJS -->
<!-- Canvas Indexed Color -->
<!-- Bouncey -->
<!-- JSImage -->

<div class="row clayto-project-list">
<!-- ColorPal -->
{% assign project_name     = 'ColorPal' %}
{% assign project_summary  = 'Drag an image.  Get a color palette instantly.  A friendly HTML5 app.' %}
{% assign project_icon_url = '/static/images/projects/icon_colorpal.png' %}
{% assign project_url      = '/projects/colorpal/' %}
{% assign project_code_url = 'https://github.com/mwcz/ColorPal' %}
{% include project.html %}

<!-- median-cut.js -->
{% assign project_name     = 'median-cut.js' %}
{% assign project_summary  = "An implementation of the median-cut algorithm in JavaScript.  Powers ColorPal's palette extraction." %}
{% assign project_icon_url = '/static/images/projects/icon_mediancut.png' %}
{% assign project_url      = '' %}
{% assign project_code_url = 'https://github.com/mwcz/median-cut-js' %}
{% include project.html %}

<!-- clayto.com -->
{% assign project_name     = 'clayto.com' %}
{% assign project_summary  = 'My photography website and tech blog.' %}
{% assign project_icon_url = '/static/images/projects/icon_clayto.png' %}
{% assign project_url      = 'http://clayto.com' %}
{% assign project_code_url = 'https://github.com/mwcz/phyton' %}
{% include project.html %}

<!-- mwcz.org -->
{% assign project_name     = 'mwcz.org' %}
{% assign project_summary  = 'My old tech blog.  It has since been merged with my photography site.' %}
{% assign project_icon_url = '/static/images/projects/icon_mwcz.png' %}
{% assign project_url      = 'http://mwcz.org' %}
{% assign project_code_url = 'https://github.com/mwcz/mwcz' %}
{% include project.html %}

<!-- AEJS -->
{% assign project_name     = 'AEJS' %}
{% assign project_summary  = 'An early-stages Amiga 500 emulator in JavaScript and HTML5.' %}
{% assign project_icon_url = '/static/images/projects/icon_aejs.png' %}
{% assign project_url      = '' %}
{% assign project_code_url = 'https://github.com/mwcz/AEJS' %}
{% include project.html %}

<!-- Canvas Indexed Color -->
{% assign project_name     = 'Canvas Indexed Color' %}
{% assign project_summary  = 'A tech demo in HTML5 canvas demonstrating an indexed-color-like effect.' %}
{% assign project_icon_url = '/static/images/projects/icon_cic.png' %}
{% assign project_url      = '/projects/canvas_indexed_color/' %}
{% assign project_code_url = 'https://github.com/mwcz/mwcz/tree/master/blog/projects/canvas_indexed_color' %}
{% include project.html %}

<!-- Bouncey -->
{% assign project_name     = 'Bouncey' %}
{% assign project_summary  = 'A relaxing JavaScript + HTML5 canvas physics simulator.  Watch and be soothed.' %}
{% assign project_icon_url = '/static/images/projects/icon_bouncey.png' %}
{% assign project_url      = '/blog/2011/11/17/bouncey-canvas-physics/' %}
{% assign project_code_url = 'https://github.com/mwcz/bouncey' %}
{% include project.html %}

<!-- JSImage -->
{% assign project_name     = 'JSImage' %}
{% assign project_summary  = 'A JavaScript library for basic image operations.' %}
{% assign project_icon_url = '/static/images/projects/icon_jsimage.png' %}
{% assign project_url      = 'http://localhost:4000/blog/2011/11/17/html5-canvas-point-operations/' %}
{% assign project_code_url = 'https://github.com/mwcz/jsimage' %}
{% include project.html %}

<script type="text/javascript" charset="utf-8">
    function equalize_project_caption_heights() {

        // Get a jQuery ref to the thumbnail elements, find the max height...
        var $projects  = $('.clayto-project-list .panel-body'),
            max_height = Math.max.apply(this, $projects.map( function () { return $(this).height() }) );

        // And set them all to the max height.
        $projects.height(max_height);

    }
    $(function () {
        equalize_project_caption_heights();
        // TODO: sometimes height is wrong after resizing.  this fixed it but is too slow.  revisit later.
        // $(window).resize(function () {
        //     equalize_project_caption_heights();
        // });
    });
</script>

</div>
