body {
  font-family: 'Lato', sans-serif;
}
@media (min-width: 768px) {
  .container {
    max-width: 930px;
  }
}
.clayto-project-list *,
.clayto-project-list *:hover {
  text-decoration: none;
  color: #2c3e50;
}
.clayto-project-list img {
  margin: 0 auto;
}
.clayto-project-list h3,
.clayto-project-list h3:hover {
  color: #18bc9c;
  margin-top: 0;
}
.clayto-project-list .panel-body p:last-child {
  margin-bottom: 0;
}
.clayto-project-list .panel-footer {
  padding: 15px;
}
.clayto-project-list .panel-footer p {
  margin: 0;
}
.clayto-project-list .panel-footer a {
  margin-right: 4px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
