/*********************************************************************
 *                           Import fonts                            *
 *********************************************************************/
@font-face {
  font-family: LiberationMono-Bold;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/liberation-fonts-ttf-2.00.1/LiberationSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: LiberationSans-Regular;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/liberation-fonts-ttf-2.00.1/LiberationSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/lato-regular/Lato-Regular.eot");
  src: url("../fonts/lato-regular/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular/Lato-Regular.ttf") format("truetype"), url("../fonts/lato-regular/Lato-Regular.svg") format("svg");
}
/*********************************************************************
 *                   Site-wide font name variables                   *
 *********************************************************************/
.panel {
  margin-bottom: 21px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-body:before,
.panel-body:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.panel-body:after {
  clear: both;
}
.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child {
  border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive {
  margin-bottom: 0;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top: 1px solid #ecf0f1;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:last-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:last-child > th,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-bordered > thead > tr:last-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: -1px;
  border-top-left-radius: -1px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #ecf0f1;
  border-top: 1px solid #ecf0f1;
  border-bottom-right-radius: -1px;
  border-bottom-left-radius: -1px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
  overflow: hidden;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #ecf0f1;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ecf0f1;
}
.panel-default {
  border-color: #ecf0f1;
}
.panel-default > .panel-heading {
  color: #2c3e50;
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ecf0f1;
}
.panel-default > .panel-heading > .dropdown .caret {
  border-color: #2c3e50 transparent;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ecf0f1;
}
.panel-primary {
  border-color: #2c3e50;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #2c3e50;
}
.panel-primary > .panel-heading > .dropdown .caret {
  border-color: #ffffff transparent;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #2c3e50;
}
.panel-success {
  border-color: #18bc9c;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #18bc9c;
}
.panel-success > .panel-heading > .dropdown .caret {
  border-color: #ffffff transparent;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #18bc9c;
}
.panel-warning {
  border-color: #f39c12;
}
.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #f39c12;
}
.panel-warning > .panel-heading > .dropdown .caret {
  border-color: #ffffff transparent;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #f39c12;
}
.panel-danger {
  border-color: #e74c3c;
}
.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #e74c3c;
}
.panel-danger > .panel-heading > .dropdown .caret {
  border-color: #ffffff transparent;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #e74c3c;
}
.panel-info {
  border-color: #3498db;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #3498db;
}
.panel-info > .panel-heading > .dropdown .caret {
  border-color: #ffffff transparent;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #3498db;
}
body {
  font-family: 'LiberationSans-Regular', sans-serif;
  background-color: #b4bcc2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 20px;
}
/*********************************************************************
 *                    bootstrap.flatly overrides                     *
 *********************************************************************/
body {
  font-size: 16px;
}
blockquote {
  border-left: 5px solid #c8c8c8;
}
blockquote p {
  font-size: 16px;
}
@media (min-width: 768px) {
  .container {
    max-width: 930px;
  }
}
a {
  color: #18bc9c;
}
a:visited {
  color: #128f76;
}
p {
  margin: 0 0 20.5px;
}
/*********************************************************************
 *                              Global                               *
 *********************************************************************/
/* Flat-inspired full width element */
.fullwidth {
  padding: 18px;
  border-radius: 0;
  width: calc(100% + 18px * 2);
  position: relative;
  left: -18px;
  border: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*********************************************************************
 *                             Homepage                              *
 *********************************************************************/
section.homepage {
  padding-bottom: 0;
}
.clayto-home-col {
  height: 600px;
  padding: 15px;
  background-size: cover;
  margin-bottom: 20px;
}
.clayto-home-col h2 {
  margin-top: 0px;
  margin-bottom: 7px;
}
.clayto-home-col p {
  display: block;
  clear: both;
  color: white;
}
.clayto-home-col p,
.clayto-home-col h2 {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}
.clayto-home-col-link:hover {
  text-decoration: none;
}
.clayto-home-col-photos {
  background-image: url("/static/images/home/photos-col-bg.jpg");
}
.clayto-home-col-code {
  background-image: url("/static/images/home/code-col-bg.jpg");
}
.clayto-home-col-projects {
  background-image: url("/static/images/home/projects-col-bg.jpg");
}
/*********************************************************************
 *                               Posts                               *
 *********************************************************************/
article,
section {
  background-color: #ffffff;
  padding: 18px;
  margin-bottom: 18px;
  -webkit-box-shadow: 0px 0px 18px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 18px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 18px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 18px 0 rgba(0, 0, 0, 0.2);
}
article:before,
section:before,
article:after,
section:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
article:after,
section:after {
  clear: both;
}
.entry-content a {
  font-weight: bold;
  text-decoration: none !important;
  border-bottom: 1px dotted;
}
.entry-content a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
.entry-content img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.highlight pre {
  background-color: #202020;
  color: #777;
  border: none;
  border-radius: 0;
}
/*********************************************************************
 *                           Project list                            *
 *********************************************************************/
.clayto-project-list *,
.clayto-project-list *:hover {
  text-decoration: none;
  color: #2c3e50;
}
.clayto-project-list img {
  margin: 0 auto;
}
.clayto-project-list h3,
.clayto-project-list h3:hover {
  color: #18bc9c;
  margin-top: 0;
}
.clayto-project-list .panel-body p:last-child {
  margin-bottom: 0;
}
.clayto-project-list .panel-footer {
  padding: 15px;
}
.clayto-project-list .panel-footer p {
  margin: 0;
}
.clayto-project-list .panel-footer a {
  margin-right: 4px;
}
.clayto-project-list article {
  padding-bottom: 0;
}
.clayto-project-list article:before,
.clayto-project-list article:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clayto-project-list article:after {
  clear: both;
}
/* Automatically clear bootstrap columns */
/*  Tablet  */
@media (min-width: 768px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: left;
  }
}
/*  Medium Desktop  */
@media (min-width: 992px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: left;
  }
}
/*  Large Desktop  */
@media (min-width: 1200px) {
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1) {
    clear: left;
  }
}
/*********************************************************************
 *                           Related Posts                           *
 *********************************************************************/
.clayto-related-posts {
  margin-left: -15px;
  margin-right: -15px;
}
.clayto-related-posts:before,
.clayto-related-posts:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clayto-related-posts:after {
  clear: both;
}
.clayto-related-posts * {
  font-size: 1.2rem;
}
.clayto-related-posts article {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .clayto-related-posts article {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .clayto-related-posts article {
    float: left;
    width: 25%;
  }
}
/*********************************************************************
 *                              Photos                               *
 *********************************************************************/
.clayto-photo-list {
  width: 100%;
}
.clayto-photo-list article {
  padding: 30px;
  margin: 0px auto;
}
/*********************************************************************
 *                              Header                               *
 *********************************************************************/
.clayto-navbar {
  background: #3f3f3f;
  border-radius: 0 !important;
  border: none !important;
}
.clayto-navbar a {
  text-shadow: 0.2px 2.2px 7px rgba(0, 0, 0, 0.4);
}
.page-header,
.page-header h1 {
  margin-top: 0;
}
article h2,
section h1 {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'LiberationMono-Bold', sans-serif;
  letter-spacing: -0.04em;
}
.jumbotron {
  position: relative;
  background: url("/static/images/projects/icon_colorpal_cli.png") no-repeat center center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
  margin: 0;
  font-size: 50px;
}
/*********************************************************************
 *                              Footer                               *
 *********************************************************************/
.clayto-footer {
  height: 60px;
  margin-top: 30px;
  background: url(/theme/images/background-navbar-white-noise.png);
}
/*********************************************************************
 *                             Post info                             *
 *********************************************************************/
.clayto-post-info {
  background-color: #7b8a8b;
  border-color: #ecf0f1;
  color: #ecf0f1;
  padding: 18px;
  border-radius: 0;
  width: calc(100% + 18px * 2);
  position: relative;
  left: -18px;
  border: none;
  /* move post info to the bottom of the box */

  margin-bottom: -18px;
}
.clayto-post-info hr {
  border-top-color: #dde4e6;
}
.clayto-post-info .alert-link {
  color: #cfd9db;
}
/*********************************************************************
 *                          Post summaries                           *
 *********************************************************************/
.summary img {
  max-width: 168px;
  margin-bottom: 21px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.summary img > .list-group {
  margin-bottom: 0;
}
.summary img > .list-group .list-group-item {
  border-width: 1px 0;
}
.summary img > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.summary img > .list-group .list-group-item:last-child {
  border-bottom: 0;
}
.summary img > .table,
.summary img > .table-responsive {
  margin-bottom: 0;
}
.summary img > .panel-body + .table,
.summary img > .panel-body + .table-responsive {
  border-top: 1px solid #ecf0f1;
}
.summary img > .table-bordered,
.summary img > .table-responsive > .table-bordered {
  border: 0;
}
.summary img > .table-bordered > thead > tr > th:first-child,
.summary img > .table-responsive > .table-bordered > thead > tr > th:first-child,
.summary img > .table-bordered > tbody > tr > th:first-child,
.summary img > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.summary img > .table-bordered > tfoot > tr > th:first-child,
.summary img > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.summary img > .table-bordered > thead > tr > td:first-child,
.summary img > .table-responsive > .table-bordered > thead > tr > td:first-child,
.summary img > .table-bordered > tbody > tr > td:first-child,
.summary img > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.summary img > .table-bordered > tfoot > tr > td:first-child,
.summary img > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.summary img > .table-bordered > thead > tr > th:last-child,
.summary img > .table-responsive > .table-bordered > thead > tr > th:last-child,
.summary img > .table-bordered > tbody > tr > th:last-child,
.summary img > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.summary img > .table-bordered > tfoot > tr > th:last-child,
.summary img > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.summary img > .table-bordered > thead > tr > td:last-child,
.summary img > .table-responsive > .table-bordered > thead > tr > td:last-child,
.summary img > .table-bordered > tbody > tr > td:last-child,
.summary img > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.summary img > .table-bordered > tfoot > tr > td:last-child,
.summary img > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.summary img > .table-bordered > thead > tr:last-child > th,
.summary img > .table-responsive > .table-bordered > thead > tr:last-child > th,
.summary img > .table-bordered > tbody > tr:last-child > th,
.summary img > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.summary img > .table-bordered > tfoot > tr:last-child > th,
.summary img > .table-responsive > .table-bordered > tfoot > tr:last-child > th,
.summary img > .table-bordered > thead > tr:last-child > td,
.summary img > .table-responsive > .table-bordered > thead > tr:last-child > td,
.summary img > .table-bordered > tbody > tr:last-child > td,
.summary img > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.summary img > .table-bordered > tfoot > tr:last-child > td,
.summary img > .table-responsive > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0;
}
/*********************************************************************
 *                           Post comments                           *
 *********************************************************************/
#comments h2 {
  margin-top: 0;
}
