.codehilite code, .codehilite pre {
color:#fdce93;
background-color:#171717;
}

.codehilite .hll {
background-color:#222;
}

.codehilite .err {
color:#e37170;
background-color:#3d3535;
}

.codehilite .k {
color:#f0dfaf;
}

.codehilite .p {
color:#41706f;
}

.codehilite .cs {
color:#cd0000;
font-weight:700;
}

.codehilite .gd {
color:#cd0000;
}

.codehilite .ge {
color:#ccc;
font-style:italic;
}

.codehilite .gr {
color:red;
}

.codehilite .go {
color:gray;
}

.codehilite .gs {
color:#ccc;
font-weight:700;
}

.codehilite .gu {
color:purple;
font-weight:700;
}

.codehilite .gt {
color:#0040D0;
}

.codehilite .kc {
color:#dca3a3;
}

.codehilite .kd {
color:#ffff86;
}

.codehilite .kn {
color:#dfaf8f;
font-weight:700;
}

.codehilite .kp {
color:#cdcf99;
}

.codehilite .kr {
color:#cdcd00;
}

.codehilite .ni {
color:#c28182;
}

.codehilite .ne {
color:#c3bf9f;
font-weight:700;
}

.codehilite .nn {
color:#8fbede;
}

.codehilite .vi {
color:#ffffc7;
}

.codehilite .c,.preview-zenburn .codehilite .g,.preview-zenburn .codehilite .cm,.preview-zenburn .codehilite .cp,.preview-zenburn .codehilite .c1 {
color:#7f9f7f;
}

.codehilite .l,.preview-zenburn .codehilite .x,.preview-zenburn .codehilite .no,.preview-zenburn .codehilite .nd,.preview-zenburn .codehilite .nl,.preview-zenburn .codehilite .nx,.preview-zenburn .codehilite .py,.preview-zenburn .codehilite .w {
color:#ccc;
}

.codehilite .n,.preview-zenburn .codehilite .nv,.preview-zenburn .codehilite .vg {
color:#dcdccc;
}

.codehilite .o,.preview-zenburn .codehilite .ow {
color:#f0efd0;
}

.codehilite .gh,.preview-zenburn .codehilite .gp {
color:#dcdccc;
font-weight:700;
}

.codehilite .gi,.preview-zenburn .codehilite .kt {
color:#00cd00;
}

.codehilite .ld,.preview-zenburn .codehilite .s,.preview-zenburn .codehilite .sb,.preview-zenburn .codehilite .sc,.preview-zenburn .codehilite .sd,.preview-zenburn .codehilite .s2,.preview-zenburn .codehilite .se,.preview-zenburn .codehilite .sh,.preview-zenburn .codehilite .si,.preview-zenburn .codehilite .sx,.preview-zenburn .codehilite .sr,.preview-zenburn .codehilite .s1,.preview-zenburn .codehilite .ss {
color:#cc9393;
}

.codehilite .m,.preview-zenburn .codehilite .mf,.preview-zenburn .codehilite .mh,.preview-zenburn .codehilite .mi,.preview-zenburn .codehilite .mo,.preview-zenburn .codehilite .il {
color:#8cd0d3;
}

.codehilite .na,.preview-zenburn .codehilite .nt {
color:#9ac39f;
}

.codehilite .nb,.preview-zenburn .codehilite .nc,.preview-zenburn .codehilite .nf,.preview-zenburn .codehilite .bp,.preview-zenburn .codehilite .vc {
color:#efef8f;
}
