@import "bootstrap/mixins.less";

body { font-family: 'Lato', sans-serif; }

@media (min-width: 768px) {
    .container {
        max-width: 930px;
    }
}

.clayto-project-list {
    * {
        &, &:hover {
            text-decoration: none;
            color: rgb(44, 62, 80);
        }
    }
    img {
        margin: 0 auto;
    }
    h3 {
        &, &:hover {
            color: #18bc9c;
            margin-top: 0;
        }
    }
    .panel-body p:last-child {
        margin-bottom: 0;
    }
    .panel-footer {
        padding: 15px;
        p {
            margin: 0;
        }
        a {
            margin-right: 4px;
        }
    }
}

img {
    .img-responsive();
}
