@import "fonts.less";

@bootswatch-theme: "flatly";

@import "bootswatch/@{bootswatch-theme}/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/panels.less";

body {
    font-family: @body-font;
    background: rgba(255,255,255,1);
    background: rgba(240,240,240,1);
    /* Old Browsers */background: -moz-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(240,240,240,1) 100%);
     /* FF3.6+ */background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(65%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
    /* Chrome,Safari4+  */background: -webkit-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(240,240,240,1) 100%);
     /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(240,240,240,1) 100%);
     /* Opera 11.10+ */background: -ms-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(240,240,240,1) 100%);
     /* IE 10+ */background: linear-gradient(to right, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(240,240,240,1) 100%);
    /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=1 );
    /* IE6-9 */
}

/*********************************************************************
 *                    bootstrap.flatly overrides                     *
 *********************************************************************/
body {
    font-size: 16px;
}
blockquote {

    border-left: 5px solid rgb(200, 200, 200);

    p {
      font-size: 16px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 930px;
    }
}

/*********************************************************************
 *                             Homepage                              *
 *********************************************************************/

.clayto-home-col {
    height              : 600px;
    padding             : @grid-gutter-width / 2;

    h2 {
        color: @brand-primary;
        margin-top: 0px;
        small {
            display: block;
            clear: both;
        }
    }
}
.clayto-home-col-link {
    &:hover {
        text-decoration: none;
    }
}

.clayto-home-col-photos   {
    background-image    : url("/static/images/home/photos-col-bg.jpg");
}
.clayto-home-col-code     {
    background-image    : url("/static/images/home/code-col-bg.jpg");
}
.clayto-home-col-projects {
    background-image    : url("/static/images/home/projects-col-bg.jpg");
}

/*********************************************************************
 *                           Project list                            *
 *********************************************************************/

.clayto-project-list {
    * {
        &, &:hover {
            text-decoration: none;
            color: rgb(44, 62, 80);
        }
    }
    img {
        margin: 0 auto;
    }
    h3 {
        &, &:hover {
            color: #18bc9c;
            margin-top: 0;
        }
    }
    .panel-body p:last-child {
        margin-bottom: 0;
    }
    .panel-footer {
        padding: 15px;
        p {
            margin: 0;
        }
        a {
            margin-right: 4px;
        }
    }
}

img {
    .img-responsive();
}

/* Automatically clear bootstrap columns */
/*  Tablet  */
@media (min-width:768px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}

/*********************************************************************
 *                           Related Posts                           *
 *********************************************************************/

.clayto-related-posts {
    .make-row();
    * {
        font-size: 1.2rem;
    }
    article {
        .make-xs-column(12);
        .make-sm-column(6);
        .make-lg-column(3);
    }
}

/*********************************************************************
 *                              Photos                               *
 *********************************************************************/

.clayto-photo-list {
    width: 100%;
    article {
        padding: 30px;
        margin: 0px auto;
    }
}

/*********************************************************************
 *                              Header                               *
 *********************************************************************/

// remove excessive whitespace between navbar and page title
.clayto-navbar {
    background: url(/theme/images/background-navbar-white-noise.png);

    a {
        text-shadow: 0.2px 2.2px 7px rgba(0,0,0,0.4)
    }
}

.page-header {
    &, h1 {
        margin-top: 0;
    }
}
article h2,
section h1 {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @title-font;
}

.jumbotron {
    position: relative;
    background: url("/static/images/projects/icon_colorpal_cli.png") no-repeat center center;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-size: 50px;
    }
}

/*********************************************************************
 *                              Footer                               *
 *********************************************************************/

.clayto-footer {
    height: 60px;
    margin-top: @grid-gutter-width;
    background: url(/theme/images/background-navbar-white-noise.png);
}

/*********************************************************************
 *                             Post info                             *
 *********************************************************************/

.clayto-post-info {
    // background, border, text-color
    .alert-variant(@gray-light, @gray-lighter, @brand-primary);
}

/*********************************************************************
 *                          Post summaries                           *
 *********************************************************************/

// Don't let summary images get too big
.summary {
    margin-bottom: @grid-gutter-width;
    img {
        max-width: 168px;
        .panel;
    }
}

