
/*********************************************************************
 *                           Import fonts                            *
 *********************************************************************/

@font-face {
    font-family: "Liberation Mono";
    src: url("../fonts/liberation-fonts-ttf-2.00.1/LiberationMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Linux Libertine";
    src: url("../fonts/linux-libertine/LinLibertine_R.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

@pbp-font-title: "Linux Libertine";
@pbp-font-body: Lato;
@pbp-font-mono: "Liberation Mono";

@pbp-base-font-size: 17.2px;
// @pbp-base-font-size: 16px;
