
/*********************************************************************
 *                           Import fonts                            *
 *********************************************************************/

@font-face {
	font-family: LiberationMono-Bold;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/liberation-fonts-ttf-2.00.1/LiberationSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: LiberationSans-Regular;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/liberation-fonts-ttf-2.00.1/LiberationSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/lato-regular/Lato-Regular.eot");
	src: url("../fonts/lato-regular/Lato-Regular.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/lato-regular/Lato-Regular.ttf") format("truetype"),
	     url("../fonts/lato-regular/Lato-Regular.svg") format("svg");
}

/*********************************************************************
 *                   Site-wide font name variables                   *
 *********************************************************************/


@title-font: 'LiberationMono-Bold', sans-serif;
@body-font: 'LiberationSans-Regular', sans-serif;
