{% macro write(
    href,
    title,
    background,
    background_align,
    summary,
    id
) %}

<section class="glass-card">
    <div class="glass-card-ratio">
        {% if href %}
        <a class="glass-card-link" href="{{ SITEURL }}/{{ href }}"></a>
        {% endif %}
        {% if background %}
        <img class="glass-card-bg {{ 'glass-card-bg-'+background_align if background_align else '' }}" src="{{ background }}">
        <div class="glass-card-border-outer"></div>
        <div class="glass-card-border-inner"></div>
        {% endif %}
        {% if title %}
        <h1 class="glass-card-title">
            {{ title }}
        </h1>
        {% endif %}
        {% if summary %}
        <p>{{ summary }}</p>
        {% endif %}
        <!-- <div class="glass-card-cite"> -->
        <!--     <img class="glass-card-author-img" src="https://pbs.twimg.com/profile_images/504363485363318785/it9hd5ae_400x400.jpeg"> -->
        <!--     <p class="glass-card-author">Michael Clayton</p> -->
        <!--     <p class="glass-card-date">Dec 14</p> -->
        <!-- </div> -->
    </div>
</section>


{% endmacro %}
