<div class="row">
{% if article.prev_article %}
    <div class="col-xs-6">
        <a class="btn btn-primary" href="{{ SITEURL }}/{{ article.prev_article.url}}">
            <b>Previous</b>
            <br>
            <small>{{ article.prev_article.title }}</small>
        </a>
    </div>
{% endif %}
{% if article.next_article %}
    <div class="col-xs-6 text-right">
        <a class="btn btn-primary" href="{{ SITEURL }}/{{ article.next_article.url}}">
            <b>Next</b>
            <br>
            <small>{{ article.next_article.title }}</small>
        </a>
    </div>
{% endif %}
</div>
