<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/static/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css">
    <style type="text/css" media="screen">
        @media (min-width: 768px) {
            .container {
                max-width: 730px;
            }
        }
    </style>

</head>
<body>

    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li>
                    <a class="glyphicon glyphicon-globe" href="/">Home</a>
                </li>
                <li>
                    <a class="glyphicon glyphicon-floppy-disk"  href="/">Tech</a>
                </li>
                <li>
                    <a class="glyphicon glyphicon-camera" href="/">Photos</a>
                </li>
                <li>
                    <a class="glyphicon glyphicon-barcode" href="/">About</a>
                </li>
            </ul>
            <h1 class="text-muted">{{ site.name }}</h1>
        </div>
        <div class="row">
            {{ content }}
        </div>
        <div class="footer text-center">
            <i class="glyphicon glyphicon-twitter"></i>
            <a href="https://github.com/mwcz">github.com/mwcz</a><br />
            <a href="https://twitter.com/mwcz">twitter.com/mwcz</a><br />
            <hr />
            <i class="text-danger glyphicon glyphicon-heart"></i>
            <hr />
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js" type="application/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js" type="application/javascript" charset="utf-8"></script>
</body>
</html>
